/* styles.css */

/* Appliquer un fond gris pour toute la page */
body {
    background-color: #D3D3D3; /* Gris clair */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style pour l'en-tête */
header {
    text-align: center;
    background-color: #df12ce;
    color: white;
    padding: 20px 0;
}

/* Style pour le pied de page */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
